/* Navbar.styles.css */

/* Definimos la animación para el desplazamiento hacia arriba */
@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

/* Definimos la animación para el desplazamiento desde la derecha */
@keyframes slideInFromRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Definimos la animación para el desplazamiento hacia la izquierda */
@keyframes slideOutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

/* Definimos la animación para el desplazamiento desde arriba */
@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes AjusteEntrada {
    from{
        height: 9vh;
    }
    to{
        height: 23vh;
        border-radius: 0 0 15% 15%;
    }
}

@keyframes AjusteSalida {
    from{
        height: 23vh;
    }
    to{
        height: 9vh;
        border-radius: 0;
    }
}
/* Estilos para el estado normal del logo */
.navbar img {
    width: auto;
    height: 18vh;
    margin: auto 0;
    
    filter: drop-shadow(0 0 1px white);
    position: absolute;
    top: 0;
    animation: slideInFromTop 0.3s forwards;
}

/* Estilos para el logo en el estado "scroll" */
.navbar.scroll img { /* Ajusta el tamaño si es necesario */
/* Ajusta el tamaño si es necesario */
    animation: slideInFromRight 0.3s forwards;
    position: absolute;
    right: 10px; /* Ajusta la posición si es necesario */
    top: 10px;   /* Ajusta la posición si es necesario */
}

/* Aplicamos la animación cuando el logo sale hacia arriba */
.navbar img.exiting-up {
    animation: slideUp 0.3s forwards;
}

/* Aplicamos la animación cuando el logo sale hacia la izquierda */
.navbar img.exiting-left {
    animation: slideOutLeft 0.3s forwards;
}

.navbar.exiting-left {
    
    animation: AjusteEntrada 0.3s forwards;
}

.navbar.exiting-up {
    animation: AjusteSalida 0.3s forwards;
}


.navbar{
    height: 23vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.907);
    
    position: fixed;
    z-index: 1001;
    font-size: 1.2rem;
    border-radius: 0 0 15% 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.scroll{
    width: 100%;
    height: 9vh;
    flex-direction: row;
    border-radius: 0;
}

.scroll img{
    width: auto;
    height: 6vh;
    filter: drop-shadow(0 0 1px white);
    position: absolute;
    left: 20px;
    
    

}

.navbar ul{
    height: 100%;
}

.navbar ul li{
    list-style: none;
    border: solid 0 rgba(0, 0, 0, 0);
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;
    padding-bottom: 0;
    margin: 0 auto;
    box-sizing: border-box;
    flex-direction: column;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    transition: .4s;
    display: flex;
    gap: 8px;
}

.navbar ul li:hover a{
    scale: 1.03;
    text-shadow: 0 0 2px white;
    color: white;
    margin-bottom: 2px;
}

.navbar ul li span{
    width: 100%;
    height: 4px;
    border-radius: 3px 3px 0 0;
    transition: .1s;
    box-shadow: 0 0 0;
}

.navbar ul li:hover span{
    width: 100%;
    height: 8px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 3px 10px ;
    
}

.navbar ul li select{
    background-color: rgb(236, 36, 36);
}

.menu-button {
    display: none;
    position: absolute;
    right: 20px;
    top: 10px;
    background: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    margin: auto 0;
    cursor: pointer;
}

.more-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  
  .more-menu button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    width: 8rem;
    height: auto;
    margin: 0 auto 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: .3s;
  }
  
  .more-menu:hover button {
    font-size: 1.3rem;
    text-shadow: 0 0 5px white;
  }

  .transition{
    transition: .3s;
  }

  .rotate {
    transform: rotate(180deg);

  }

  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    height: auto !important;
    width: 11rem;
    padding: 5px 10px;
    background:  rgba(7, 7, 7, 0.907);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 15px 15px;
    z-index: 1;
  }

  .dropdown hr{
    width: 60%;
    height: 1px;
    border-radius: 15px;
    border-color: rgba(255, 255, 255, 0.303);
    margin: 1px auto;
  }

 
  
  .open {
    display: block;
    animation: openMore 0.3s forwards;
  }
  
  .close {
    display: block;
    animation: closeMore 0.3s forwards;
  }
  
  .dropdown li {
    padding: 10px;
  }
  
  button .dropdown .open > li > a:hover {
    text-shadow: 0 0 5px white;
    scale: 1.03;
  }

  @keyframes openMore {

    from{
        height: 0;
    }
    to{
        height: auto;
    }
}

@keyframes closeMore {

    from{
        height: auto;
    }
    to{
        height: 0;
    }
}


.up-button{
    background-color: gray;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: white;
    cursor: default;
    transform: rotate(180deg);
    opacity: 0;
    transition: .3s;
}

.up-button-scroll{
    display: flex;
    transform: rotate(0deg);
    opacity: .8;
    cursor: pointer;
    transition: .3s;
}

.up-button-scroll:hover{
    opacity: 1;
}

@media (max-width: 768px) {
    .navbar {
        height: 9vh;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 10px 0;
        border-radius: 0;
        background-color: rgba(0,0,0,0.93);
    }
    
    .navbar img {
        width: 180px;
        height: auto;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 9vh;
        left: 0;
        padding: 0 20px 0 0;
    }

    .navbar  ul  li {
        width: 40%;
        padding: 6px;
        display: flex;
        justify-content: end;
        align-items: end;
        margin-left: 60%;
    }

    .navbar ul li a {
        display: inline;
        width: 100%;
        text-align: end;
    }

    .navbar > ul > li:hover > a {
        scale: 1;
        transform: translateX(-0.5rem);
    }

    .navbar ul li span {
        width: 50%;
        border-radius: 15px;
    }

    .navbar ul li:hover span {
        width: 60%;
        height: 5px;
        border-radius: 15px;
    }

    .navbar.active ul {
        display: flex;
    }

    .menu-button {
        display: block;
    }

    .List__offcanvas{
        width: 100%;
        height: 100vh;
        position: relative;
        z-index: 99999;
        background: linear-gradient(270deg, rgba(0,0,0,0.93) 40%, rgba(46, 46, 46, 0.578) 70%, rgba(46, 46, 46, 0) 100%);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); /* Para Safari */
        animation: slideInFromRight 0.3s forwards;
        padding-bottom: 0;
        transition: .3s;
    }

    

    .Salida__offcanvas{
        animation: slideOutToRight 0.3s forwards;
    }

    @keyframes slideInFromRight {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes slideOutToRight {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(100%);
        }
    }

    .more-menu{
        height: 10rem;
        padding: 0;
        align-items: start;
    }

    .more-menu button{
        display: none;
    }

    .dropdown {
        background: #00000000;
        padding: 0;
        align-items: start;
        box-shadow: none;
    }

    .dropdown .open{
        position: absolute;
        bottom: 500px;
    }

    .dropdown > li {
        
        padding: 1px !important;
        
    }

    .dropdown hr{
        display: none;
    }

   
}


